.footer_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}